:root {
  --violet: #5f4b8b;
  --violet-light: #ecdeff;
  --violet-darker: #560099;
  --violet-accent: #8e00fe; /*  ??? */ 
  --violet-accent: #B04DFF; /* ?? */ 
  --violet-accent: #AA00FF;
  --violet-accent: #11e971;
  --black: #333;

  --font-playfair: "Playfair Display", -apple-system, serif;
  --font-raleway: "Raleway", -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  --font-montserrat: "Montserrat", -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* uncomment line below for an easier UI debuggin session ;) */
* {
  /* outline: 1px solid magenta !important; */
}

body {

  background: linear-gradient(180deg, #F4E8FF 0%, rgba(255, 250, 255, 0) 100%);
  background-color: #e6e2ff;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow-x: hidden;
}


img {
  overflow-y: hidden;
}

::-moz-selection {
  background-color: var(--violet);
  color: var(--violet-light);

}
*::selection {
  background-color: var(--violet);
  color: var(--violet-light);
}

/*
    @media (max-width: 992px) {

    }
    @media (max-width: 768px) {
      
    }
/
